<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
    <div th:replace="~{menu :: menuFragment}"></div>
    


    <!-- body content -->
    <div style="padding: 15px">
        <div class="pure-form">
            <fieldset>
                <legend>發生錯誤</legend>
                <!-- 顯示錯誤訊息 -->
                <p th:text="${message}"></p>
            </fieldset>
        </div>
    </div>
</body>
</html>
