<div th:fragment="scooterList">
<!-- 定義一個可重用的 HTML 片段。th:fragment="scooterList" 表示這段 HTML 是一個可在其他地方引用的片段 -->

    <fieldset>
        <legend>Scooter 列表</legend>
        <table class="pure-table pure-table-bordered">
            <thead>
                <tr>
                    <th>車輛 ID</th>
                    <th>車牌號碼</th>
                    <th>車型</th>
                    <th>引擎排氣量 (cc)</th>
                    <th>類型</th>
                    <th>日租費率</th>
                    <th>狀態</th>
                    <th>車況描述</th>
                    <th>上次保養日期</th>
                    <th>編輯</th>
                    <th>刪除</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="scooterDto : ${scooterDtos}">
       <!--  用來遍歷集合。th:each="scooterDto : ${scooterDtos}" 表示 Thymeleaf 會迭代後端傳遞過來的 scooterDtos 集合 -->        
                
                    <td th:text="${scooterDto.scooterId}">機車ID</td>
             <!-- 將變數的值插入到 HTML 標籤的文本中。-->       
                    
                    
                    <td th:text="${scooterDto.licensePlate}">車牌號碼</td>
                    <td th:text="${scooterDto.model}">機車型號</td>
                    <td th:text="${scooterDto.cc}">引擎排氣量(cc)</td>
                    <td th:text="${scooterDto.type}">車種</td>
                    <td th:text="${scooterDto.dailyRate}">日租費率</td>
                    <td th:text="${scooterDto.status}">狀態</td>
                    <td th:text="${scooterDto.conditionNote}">車況描述</td>
                    <td th:text="${scooterDto.lastMaintenanceDate}">上次保養日期</td>
                    <td><a class="button-success pure-button" th:href="@{/scooter/{scooterId}(scooterId=${scooterDto.scooterId})}">編輯</a></td>
                    <td><a class="button-error pure-button" th:href="@{/scooter/delete/{scooterId}(scooterId=${scooterDto.scooterId})}">刪除</a></td>
                </tr>    
            </tbody>
        </table>
    </fieldset>
</div>
