<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Scooter Update</title>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
<link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
	<div th:replace="menu :: menuFragment"></div>

	<div style="padding: 15px">
		<form class="pure-form" th:object="${scooterDto}"
			th:action="@{/scooter/update/{id}(id=${scooterDto.scooterId})}"
			method="post">
			<fieldset>
				<legend>機車資訊修改</legend>

				機車ID: <input type="number" th:field="*{scooterId}" readonly="true" />
				<p />

				車牌號碼: <input type="text" th:field="*{licensePlate}" />
				<div th:if="${#fields.hasErrors('licensePlate')}" style="color: red"
					th:errors="*{licensePlate}"></div>
				<p />



				機車型號: <input type="text" th:field="*{model}" />
				<div th:if="${#fields.hasErrors('model')}" style="color: red"
					th:errors="*{model}"></div>
				<p />




				車種: <select th:field="*{cc}">
					<option value="100">100</option>
					<option value="125">125</option>
					<option value="150">150</option>
					<option value="200">200</option>
				</select>
				<div th:if="${#fields.hasErrors('cc')}" style="color: red"
					th:errors="*{cc}"></div>

				<p />
				<!-- 
				車種: <input type="text" th:field="*{type}" />
				<div th:if="${#fields.hasErrors('type')}" style="color: red"
					th:errors="*{type}"></div>
				<p />

 -->



				車種: <select th:field="*{type}">
					<option value="scooter">速可達(scooter)</option>
					<option value="manual">檔車(Manual Motorcycle)</option>
				</select>
				<div th:if="${#fields.hasErrors('type')}" style="color: red"
					th:errors="*{type}"></div>
				<p />



				車種: <select th:field="*{dailyRate}">
					<option value="300">300</option>
					<option value="400">400</option>
					<option value="500">500</option>
					<option value="600">600</option>
				</select>
				<div th:if="${#fields.hasErrors('dailyRate')}" style="color: red"
					th:errors="*{dailyRate}"></div>

				<p />

				狀態: <select th:field="*{status}">
					<option value="available" th:text="#{status.available}">可租</option>
					<option value="rented" th:text="#{status.rented}">已出租</option>
					<option value="maintenance" th:text="#{status.maintenance}">維修中</option>
				</select>
				<div th:if="${#fields.hasErrors('status')}" style="color: red"
					th:errors="*{status}"></div>
				<p />



				車況描述:
				<textarea th:field="*{conditionNote}" rows="4" cols="50"></textarea>
				<div th:if="${#fields.hasErrors('conditionNote')}"
					style="color: red" th:errors="*{conditionNote}"></div>
				<p />

				上次保養日期: <input type="date" th:field="*{lastMaintenanceDate}" />
				<div th:if="${#fields.hasErrors('lastMaintenanceDate')}"
					style="color: red" th:errors="*{lastMaintenanceDate}"></div>
				<p />

				<button type="submit" class="pure-button pure-button-primary">修改</button>
			</fieldset>
		</form>
	</div>
</body>
</html>
