<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css">
    <link rel="stylesheet" href="/css/buttons.css">
</head>
<body>
    <div th:fragment="menuFragment">
<!--   
body 和 menuFragment 是 片段名稱（fragment name），可以根據需要命名以引用特定的 HTML 片段。
並可重複使用，片段名稱是透過 Thymeleaf 的 th:fragment 屬性來定義的。

定義好的片段可以在其他模板中使用 th:replace 或 th:include 屬性進行引用。
 -->

    
        <div style="background-color: #dddddd">
            <div style="padding: 10px">
                <!-- 判斷是否登入 -->
                <span th:text="${(userCert == null) ? '尚未登入' : userCert.username}"></span>
                <a href="/login" class="button-secondary pure-button">Login</a>
                <a href="/rooms" class="button-secondary pure-button">Room</a>
            </div>
        </div>
    </div>
</body>
</html>
